{% extends 'base.html' %}

{% block content %}
  <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
    <h1 class="display-3">{{ txt.PAGE_ANALYZER }}</h1>
    <p class="lead">{{ txt.CHECK_FREE }}</p>
    <form class="d-flex justify-content-center" action="{{ url_for('post_new') }}" method="post" required>
      <input type="text" name="url" placeholder="https://www.example.com" value="{{ old_url }}" class="form-control form-control-lg">
      <input type="submit" class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" value="{{ txt.CHECK }}">
    </form>
  </div>
{% endblock %}